Hermeco.Compensacion.Cumpleanos/Service References/EmpleadosSAP/EmpleadosSAP2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EmpleadosSAP" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EmpleadosSAP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetEmployeeSAPResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmployeeSAP" nillable="true" type="tns:ArrayOfEmployeeSAP" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetEmployeeSAPResponse" nillable="true" type="tns:GetEmployeeSAPResponse" />
  <xs:complexType name="ArrayOfEmployeeSAP">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployeeSAP" nillable="true" type="tns:EmployeeSAP" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployeeSAP" nillable="true" type="tns:ArrayOfEmployeeSAP" />
  <xs:complexType name="EmployeeSAP">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Apellido2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cedula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ciudad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Depart" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoDocumento" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeSAP" nillable="true" type="tns:EmployeeSAP" />
  <xs:complexType name="GetEmployeeIntranetResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmployeeIntranet" nillable="true" type="tns:ArrayOfEmployeeIntranet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetEmployeeIntranetResponse" nillable="true" type="tns:GetEmployeeIntranetResponse" />
  <xs:complexType name="ArrayOfEmployeeIntranet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployeeIntranet" nillable="true" type="tns:EmployeeIntranet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployeeIntranet" nillable="true" type="tns:ArrayOfEmployeeIntranet" />
  <xs:complexType name="EmployeeIntranet">
    <xs:sequence>
      <xs:element minOccurs="0" name="Area" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BirthDay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CellPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Extension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HiringDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Manager" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Photo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Position" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telephone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeIntranet" nillable="true" type="tns:EmployeeIntranet" />
</xs:schema>